body {
    text-align: center;
}

select {
    font-size: 1.3rem;
}

header {
    background-color: dodgerblue;
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    line-height: 2.3rem;
    margin-bottom: 10px;
}

.weight-today:nth-child(odd) {
    background-color: beige;
    display:inline-block
}

#theDate {
    margin-bottom: 10px;
}

#trackingList {
    margin-top: 10px;
    font-size: 1.3rem;
}

/* CSS */
.button-21 {
    align-items: center;
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 2px 6px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    margin-right: 10px;
    margin-left: 10px;
    
  }
  
  .button-21:active,
  .button-21:focus {
    outline: none;
  }
  
  .button-21:hover {
    background-position: -20px -20px;
  }
  
  .button-21:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
  }

  /* CSS */
.button-22 {
    align-items: center;
    appearance: none;
    background-color: #e60026;
    background-image: linear-gradient(1deg, #ae2029, #e30022 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 2px 6px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  
  .button-22:active,
  .button-22:focus {
    outline: none;
  }
  
  .button-22:hover {
    background-position: -20px -20px;
  }
  
  .button-22:focus:not(:active) {
    
    box-shadow: rgb(190,0,50)  0 0 0 .125em;
  }
  
